doodle_droid/gif/doodle_droid_portfolio(1).gif filter=lfs diff=lfs merge=lfs -text
doodle_droid/gif/harrison_doodle_droid.gif filter=lfs diff=lfs merge=lfs -text
flashfire/gif/flashfire_portfolio_shortened.gif filter=lfs diff=lfs merge=lfs -text
